@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CarApp</h1>
    <p>Choose option from the navigation bar above</a>.</p>
    <br />
    <h3>You can create a new owner</h3>
    <a typeof="btn btn-success" asp-controller="Owners" asp-action="Create"  class="btn btn-sm btn-outline-secondary">Create owner</a>
    <br />
    <h2 style="margin-top: 25px;">OR</h2>
    <br />
    <h3>Create a new car</h3>
    <a typeof="btn btn-success" asp-controller="Cars" asp-action="Create"  class="btn btn-sm btn-outline-secondary">Create car</a>

</div>
